body
{
    background-color: bisque;

}
p{
    color:blue;
    text-align: center;
    border: 2px solid black;
    background-color: aquamarine;
    padding: 50px 20px;
    height: 450px;

}
h1{
    color: red;
    text-align: center;
}